<%- include ('header.html') %>
        <h4>Select the Country</h4>
    </div>
</div>
<div class="container content-container">

<div class="sources-container mb4 center relative">
                    <div class="country flag">
                        <a href="/ar" title="Argentina">
                            <img alt="Argentina flag" class="icon loaded" data-src="https://newsapi.org/images/flags/ar.svg" src="https://newsapi.org/images/flags/ar.svg" data-was-processed="true">
                            <div class="country name f3" title="Argentina">
                                Argentina
                            </div>
                            <div class="country title"><kbd title="id: ar">ar</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/au" title="Australia">
                            <img alt="Australia flag" class="icon loaded" data-src="https://newsapi.org/images/flags/au.svg" src="https://newsapi.org/images/flags/au.svg" data-was-processed="true">
                            <div class="country name f3" title="Australia">
                                Australia
                            </div>
                            <div class="country title"><kbd title="id: au">au</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/at" title="Austria">
                            <img alt="Austria flag" class="icon loaded" data-src="https://newsapi.org/images/flags/at.svg" src="https://newsapi.org/images/flags/at.svg" data-was-processed="true">
                            <div class="country name f3" title="Austria">
                                Austria
                            </div>
                            <div class="country title"><kbd title="id: at">at</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/be" title="Belgium">
                            <img alt="Belgium flag" class="icon loaded" data-src="https://newsapi.org/images/flags/be.svg" src="https://newsapi.org/images/flags/be.svg" data-was-processed="true">
                            <div class="country name f3" title="Belgium">
                                Belgium
                            </div>
                            <div class="country title"><kbd title="id: be">be</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/br" title="Brazil">
                            <img alt="Brazil flag" class="icon loaded" data-src="https://newsapi.org/images/flags/br.svg" src="https://newsapi.org/images/flags/br.svg" data-was-processed="true">
                            <div class="country name f3" title="Brazil">
                                Brazil
                            </div>
                            <div class="country title"><kbd title="id: br">br</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/bg" title="Bulgaria">
                            <img alt="Bulgaria flag" class="icon loaded" data-src="https://newsapi.org/images/flags/bg.svg" src="https://newsapi.org/images/flags/bg.svg" data-was-processed="true">
                            <div class="country name f3" title="Bulgaria">
                                Bulgaria
                            </div>
                            <div class="country title"><kbd title="id: bg">bg</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/ca" title="Canada">
                            <img alt="Canada flag" class="icon loaded" data-src="https://newsapi.org/images/flags/ca.svg" src="https://newsapi.org/images/flags/ca.svg" data-was-processed="true">
                            <div class="country name f3" title="Canada">
                                Canada
                            </div>
                            <div class="country title"><kbd title="id: ca">ca</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/cn" title="China">
                            <img alt="China flag" class="icon loaded" data-src="https://newsapi.org/images/flags/cn.svg" src="https://newsapi.org/images/flags/cn.svg" data-was-processed="true">
                            <div class="country name f3" title="China">
                                China
                            </div>
                            <div class="country title"><kbd title="id: cn">cn</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/co" title="Colombia">
                            <img alt="Colombia flag" class="icon loaded" data-src="https://newsapi.org/images/flags/co.svg" src="https://newsapi.org/images/flags/co.svg" data-was-processed="true">
                            <div class="country name f3" title="Colombia">
                                Colombia
                            </div>
                            <div class="country title"><kbd title="id: co">co</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/cu" title="Cuba">
                            <img alt="Cuba flag" class="icon loaded" data-src="https://newsapi.org/images/flags/cu.svg" src="https://newsapi.org/images/flags/cu.svg" data-was-processed="true">
                            <div class="country name f3" title="Cuba">
                                Cuba
                            </div>
                            <div class="country title"><kbd title="id: cu">cu</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/cz" title="Czech Republic">
                            <img alt="Czech Republic flag" class="icon loaded" data-src="https://newsapi.org/images/flags/cz.svg" src="https://newsapi.org/images/flags/cz.svg" data-was-processed="true">
                            <div class="country name f3" title="Czech Republic">
                                Czech Republic
                            </div>
                            <div class="country title"><kbd title="id: cz">cz</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/eg" title="Egypt">
                            <img alt="Egypt flag" class="icon loaded" data-src="https://newsapi.org/images/flags/eg.svg" src="https://newsapi.org/images/flags/eg.svg" data-was-processed="true">
                            <div class="country name f3" title="Egypt">
                                Egypt
                            </div>
                            <div class="country title"><kbd title="id: eg">eg</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/fr" title="France">
                            <img alt="France flag" class="icon loaded" data-src="https://newsapi.org/images/flags/fr.svg" src="https://newsapi.org/images/flags/fr.svg" data-was-processed="true">
                            <div class="country name f3" title="France">
                                France
                            </div>
                            <div class="country title"><kbd title="id: fr">fr</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/de" title="Germany">
                            <img alt="Germany flag" class="icon loaded" data-src="https://newsapi.org/images/flags/de.svg" src="https://newsapi.org/images/flags/de.svg" data-was-processed="true">
                            <div class="country name f3" title="Germany">
                                Germany
                            </div>
                            <div class="country title"><kbd title="id: de">de</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/gr" title="Greece">
                            <img alt="Greece flag" class="icon loaded" data-src="https://newsapi.org/images/flags/gr.svg" src="https://newsapi.org/images/flags/gr.svg" data-was-processed="true">
                            <div class="country name f3" title="Greece">
                                Greece
                            </div>
                            <div class="country title"><kbd title="id: gr">gr</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/hk" title="Hong Kong">
                            <img alt="Hong Kong flag" class="icon loaded" data-src="https://newsapi.org/images/flags/hk.svg" src="https://newsapi.org/images/flags/hk.svg" data-was-processed="true">
                            <div class="country name f3" title="Hong Kong">
                                Hong Kong
                            </div>
                            <div class="country title"><kbd title="id: hk">hk</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/hu" title="Hungary">
                            <img alt="Hungary flag" class="icon loaded" data-src="https://newsapi.org/images/flags/hu.svg" src="https://newsapi.org/images/flags/hu.svg" data-was-processed="true">
                            <div class="country name f3" title="Hungary">
                                Hungary
                            </div>
                            <div class="country title"><kbd title="id: hu">hu</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/in" title="India">
                            <img alt="India flag" class="icon loaded" data-src="https://newsapi.org/images/flags/in.svg" src="https://newsapi.org/images/flags/in.svg" data-was-processed="true">
                            <div class="country name f3" title="India">
                                India
                            </div>
                            <div class="country title"><kbd title="id: in">in</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/id" title="Indonesia">
                            <img alt="Indonesia flag" class="icon loaded" data-src="https://newsapi.org/images/flags/id.svg" src="https://newsapi.org/images/flags/id.svg" data-was-processed="true">
                            <div class="country name f3" title="Indonesia">
                                Indonesia
                            </div>
                            <div class="country title"><kbd title="id: id">id</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/ie" title="Ireland">
                            <img alt="Ireland flag" class="icon loaded" data-src="https://newsapi.org/images/flags/ie.svg" src="https://newsapi.org/images/flags/ie.svg" data-was-processed="true">
                            <div class="country name f3" title="Ireland">
                                Ireland
                            </div>
                            <div class="country title"><kbd title="id: ie">ie</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/il" title="Israel">
                            <img alt="Israel flag" class="icon loaded" data-src="https://newsapi.org/images/flags/il.svg" src="https://newsapi.org/images/flags/il.svg" data-was-processed="true">
                            <div class="country name f3" title="Israel">
                                Israel
                            </div>
                            <div class="country title"><kbd title="id: il">il</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/it" title="Italy">
                            <img alt="Italy flag" class="icon loaded" data-src="https://newsapi.org/images/flags/it.svg" src="https://newsapi.org/images/flags/it.svg" data-was-processed="true">
                            <div class="country name f3" title="Italy">
                                Italy
                            </div>
                            <div class="country title"><kbd title="id: it">it</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/jp" title="Japan">
                            <img alt="Japan flag" class="icon loaded" data-src="https://newsapi.org/images/flags/jp.svg" src="https://newsapi.org/images/flags/jp.svg" data-was-processed="true">
                            <div class="country name f3" title="Japan">
                                Japan
                            </div>
                            <div class="country title"><kbd title="id: jp">jp</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/lv" title="Latvia">
                            <img alt="Latvia flag" class="icon loaded" data-src="https://newsapi.org/images/flags/lv.svg" src="https://newsapi.org/images/flags/lv.svg" data-was-processed="true">
                            <div class="country name f3" title="Latvia">
                                Latvia
                            </div>
                            <div class="country title"><kbd title="id: lv">lv</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/lt" title="Lithuania">
                            <img alt="Lithuania flag" class="icon loaded" data-src="https://newsapi.org/images/flags/lt.svg" src="https://newsapi.org/images/flags/lt.svg" data-was-processed="true">
                            <div class="country name f3" title="Lithuania">
                                Lithuania
                            </div>
                            <div class="country title"><kbd title="id: lt">lt</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/my" title="Malaysia">
                            <img alt="Malaysia flag" class="icon loaded" data-src="https://newsapi.org/images/flags/my.svg" src="https://newsapi.org/images/flags/my.svg" data-was-processed="true">
                            <div class="country name f3" title="Malaysia">
                                Malaysia
                            </div>
                            <div class="country title"><kbd title="id: my">my</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/mx" title="Mexico">
                            <img alt="Mexico flag" class="icon loaded" data-src="https://newsapi.org/images/flags/mx.svg" src="https://newsapi.org/images/flags/mx.svg" data-was-processed="true">
                            <div class="country name f3" title="Mexico">
                                Mexico
                            </div>
                            <div class="country title"><kbd title="id: mx">mx</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/ma" title="Morocco">
                            <img alt="Morocco flag" class="icon loaded" data-src="https://newsapi.org/images/flags/ma.svg" src="https://newsapi.org/images/flags/ma.svg" data-was-processed="true">
                            <div class="country name f3" title="Morocco">
                                Morocco
                            </div>
                            <div class="country title"><kbd title="id: ma">ma</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/nl" title="Netherlands">
                            <img alt="Netherlands flag" class="icon loaded" data-src="https://newsapi.org/images/flags/nl.svg" src="https://newsapi.org/images/flags/nl.svg" data-was-processed="true">
                            <div class="country name f3" title="Netherlands">
                                Netherlands
                            </div>
                            <div class="country title"><kbd title="id: nl">nl</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/nz" title="New Zealand">
                            <img alt="New Zealand flag" class="icon loaded" data-src="https://newsapi.org/images/flags/nz.svg" src="https://newsapi.org/images/flags/nz.svg" data-was-processed="true">
                            <div class="country name f3" title="New Zealand">
                                New Zealand
                            </div>
                            <div class="country title"><kbd title="id: nz">nz</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/ng" title="Nigeria">
                            <img alt="Nigeria flag" class="icon loaded" data-src="https://newsapi.org/images/flags/ng.svg" src="https://newsapi.org/images/flags/ng.svg" data-was-processed="true">
                            <div class="country name f3" title="Nigeria">
                                Nigeria
                            </div>
                            <div class="country title"><kbd title="id: ng">ng</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/no" title="Norway">
                            <img alt="Norway flag" class="icon loaded" data-src="https://newsapi.org/images/flags/no.svg" src="https://newsapi.org/images/flags/no.svg" data-was-processed="true">
                            <div class="country name f3" title="Norway">
                                Norway
                            </div>
                            <div class="country title"><kbd title="id: no">no</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/ph" title="Philippines">
                            <img alt="Philippines flag" class="icon loaded" data-src="https://newsapi.org/images/flags/ph.svg" src="https://newsapi.org/images/flags/ph.svg" data-was-processed="true">
                            <div class="country name f3" title="Philippines">
                                Philippines
                            </div>
                            <div class="country title"><kbd title="id: ph">ph</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/pl" title="Poland">
                            <img alt="Poland flag" class="icon loaded" data-src="https://newsapi.org/images/flags/pl.svg" src="https://newsapi.org/images/flags/pl.svg" data-was-processed="true">
                            <div class="country name f3" title="Poland">
                                Poland
                            </div>
                            <div class="country title"><kbd title="id: pl">pl</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/pt" title="Portugal">
                            <img alt="Portugal flag" class="icon loaded" data-src="https://newsapi.org/images/flags/pt.svg" src="https://newsapi.org/images/flags/pt.svg" data-was-processed="true">
                            <div class="country name f3" title="Portugal">
                                Portugal
                            </div>
                            <div class="country title"><kbd title="id: pt">pt</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/ro" title="Romania">
                            <img alt="Romania flag" class="icon loaded" data-src="https://newsapi.org/images/flags/ro.svg" src="https://newsapi.org/images/flags/ro.svg" data-was-processed="true">
                            <div class="country name f3" title="Romania">
                                Romania
                            </div>
                            <div class="country title"><kbd title="id: ro">ro</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/ru" title="Russia">
                            <img alt="Russia flag" class="icon loaded" data-src="https://newsapi.org/images/flags/ru.svg" src="https://newsapi.org/images/flags/ru.svg" data-was-processed="true">
                            <div class="country name f3" title="Russia">
                                Russia
                            </div>
                            <div class="country title"><kbd title="id: ru">ru</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/sa" title="Saudi Arabia">
                            <img alt="Saudi Arabia flag" class="icon loaded" data-src="https://newsapi.org/images/flags/sa.svg" src="https://newsapi.org/images/flags/sa.svg" data-was-processed="true">
                            <div class="country name f3" title="Saudi Arabia">
                                Saudi Arabia
                            </div>
                            <div class="country title"><kbd title="id: sa">sa</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/rs" title="Serbia">
                            <img alt="Serbia flag" class="icon loaded" data-src="https://newsapi.org/images/flags/rs.svg" src="https://newsapi.org/images/flags/rs.svg" data-was-processed="true">
                            <div class="country name f3" title="Serbia">
                                Serbia
                            </div>
                            <div class="country title"><kbd title="id: rs">rs</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/sg" title="Singapore">
                            <img alt="Singapore flag" class="icon loaded" data-src="https://newsapi.org/images/flags/sg.svg" src="https://newsapi.org/images/flags/sg.svg" data-was-processed="true">
                            <div class="country name f3" title="Singapore">
                                Singapore
                            </div>
                            <div class="country title"><kbd title="id: sg">sg</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/sk" title="Slovakia">
                            <img alt="Slovakia flag" class="icon loaded" data-src="https://newsapi.org/images/flags/sk.svg" src="https://newsapi.org/images/flags/sk.svg" data-was-processed="true">
                            <div class="country name f3" title="Slovakia">
                                Slovakia
                            </div>
                            <div class="country title"><kbd title="id: sk">sk</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/si" title="Slovenia">
                            <img alt="Slovenia flag" class="icon loaded" data-src="https://newsapi.org/images/flags/si.svg" src="https://newsapi.org/images/flags/si.svg" data-was-processed="true">
                            <div class="country name f3" title="Slovenia">
                                Slovenia
                            </div>
                            <div class="country title"><kbd title="id: si">si</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/za" title="South Africa">
                            <img alt="South Africa flag" class="icon loaded" data-src="https://newsapi.org/images/flags/za.svg" src="https://newsapi.org/images/flags/za.svg" data-was-processed="true">
                            <div class="country name f3" title="South Africa">
                                South Africa
                            </div>
                            <div class="country title"><kbd title="id: za">za</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/kr" title="South Korea">
                            <img alt="South Korea flag" class="icon loaded" data-src="https://newsapi.org/images/flags/kr.svg" src="https://newsapi.org/images/flags/kr.svg" data-was-processed="true">
                            <div class="country name f3" title="South Korea">
                                South Korea
                            </div>
                            <div class="country title"><kbd title="id: kr">kr</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/se" title="Sweden">
                            <img alt="Sweden flag" class="icon loaded" data-src="https://newsapi.org/images/flags/se.svg" src="https://newsapi.org/images/flags/se.svg" data-was-processed="true">
                            <div class="country name f3" title="Sweden">
                                Sweden
                            </div>
                            <div class="country title"><kbd title="id: se">se</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/ch" title="Switzerland">
                            <img alt="Switzerland flag" class="icon loaded" data-src="https://newsapi.org/images/flags/ch.svg" src="https://newsapi.org/images/flags/ch.svg" data-was-processed="true">
                            <div class="country name f3" title="Switzerland">
                                Switzerland
                            </div>
                            <div class="country title"><kbd title="id: ch">ch</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/tw" title="Taiwan">
                            <img alt="Taiwan flag" class="icon loaded" data-src="https://newsapi.org/images/flags/tw.svg" src="https://newsapi.org/images/flags/tw.svg" data-was-processed="true">
                            <div class="country name f3" title="Taiwan">
                                Taiwan
                            </div>
                            <div class="country title"><kbd title="id: tw">tw</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/th" title="Thailand">
                            <img alt="Thailand flag" class="icon loaded" data-src="https://newsapi.org/images/flags/th.svg" src="https://newsapi.org/images/flags/th.svg" data-was-processed="true">
                            <div class="country name f3" title="Thailand">
                                Thailand
                            </div>
                            <div class="country title"><kbd title="id: th">th</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/tr" title="Turkey">
                            <img alt="Turkey flag" class="icon loaded" data-src="https://newsapi.org/images/flags/tr.svg" src="https://newsapi.org/images/flags/tr.svg" data-was-processed="true">
                            <div class="country name f3" title="Turkey">
                                Turkey
                            </div>
                            <div class="country title"><kbd title="id: tr">tr</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/UAE" title="UAE">
                            <img alt="UAE flag" class="icon loaded" data-src="https://newsapi.org/images/flags/ae.svg" src="https://newsapi.org/images/flags/ae.svg" data-was-processed="true">
                            <div class="country name f3" title="UAE">
                                UAE
                            </div>
                            <div class="country title"><kbd title="id: ae">ae</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/ua" title="Ukraine">
                            <img alt="Ukraine flag" class="icon loaded" data-src="https://newsapi.org/images/flags/ua.svg" src="https://newsapi.org/images/flags/ua.svg" data-was-processed="true">
                            <div class="country name f3" title="Ukraine">
                                Ukraine
                            </div>
                            <div class="country title"><kbd title="id: ua">ua</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/gb" title="United Kingdom">
                            <img alt="United Kingdom flag" class="icon loaded" data-src="https://newsapi.org/images/flags/gb.svg" src="https://newsapi.org/images/flags/gb.svg" data-was-processed="true">
                            <div class="country name f3" title="United Kingdom">
                                United Kingdom
                            </div>
                            <div class="country title"><kbd title="id: gb">gb</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/us" title="United States">
                            <img alt="United States flag" class="icon loaded" data-src="https://newsapi.org/images/flags/us.svg" src="https://newsapi.org/images/flags/us.svg" data-was-processed="true">
                            <div class="country name f3" title="United States">
                                United States
                            </div>
                            <div class="country title"><kbd title="id: us">us</kbd></div>
                        </a>
                    </div>
                    <div class="country flag">
                        <a href="/ve" title="Venuzuela">
                            <img alt="Venuzuela flag" class="icon loaded" data-src="https://newsapi.org/images/flags/ve.svg" src="https://newsapi.org/images/flags/ve.svg" data-was-processed="true">
                            <div class="country name f3" title="Venuzuela">
                                Venuzuela
                            </div>
                            <div class="country title"><kbd title="id: ve">ve</kbd></div>
                        </a>
                    </div>
            </div>

<%- include ('footer.html') %>