body {
  background: #F4DECB;
}
.navbar-custom a {
  color: #F8EEE7;
}
.bg-custom {
  background: #000;
}
.jumbotron {
  border: 0;
  border-radius: 0;
  background: #000;
  color: #F8EEE7;
}
.news-container {
  margin: 0 auto;
  border: 0;
  padding: 0;
  display: block;
  overflow: auto;
  text-align: center;
}
.card_content {
  margin: 10px 10px;
  width: 30%;
  display: inline-block;
  border: 1px solid #49274A;
  background: #000;
  color: #F8EEE7;
  float: left;
}
.news_img {
  height: 40%;
  width: 100%;
}
.news-content-title {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-content {
  height: 30px;
  display: inline-block;
  overflow: hidden;
}
.source_name {
  display: inline-block;
  float: left;
}
.view_more_btn {
  display: inline-block;
  float: right;
}
.country {
  display: inline-block;
}
.flag {
  width: 30%;
  padding: 20px;
  float: left;
  text-align: center;
}
.country img {
    height: 50px;
    width: 50px;
}
.categories {
  list-style-type: none;
  margin: 20 auto;
  padding: 5px;
  text-align: center;
}
.categories li {
  display: inline-block;
}
.category-button {
  margin: 0 10px;
  border: 0;
  padding: 10px;
  border-radius: 6%;
  background: #000;
  color: #fff;
}
.category-button:hover {
  background: white;
  color: black;
}
